.cart_summary_details {
	position: absolute;
	z-index: 1000;
	top: 2em;
	left: 700px;
	height: auto;
	width: 40em;
	padding: 0.8em 1em;
	background: #b0b0b0;
	border-radius: 0.8em;
	border-top-right-radius: 0;

	.cart_actions {
		margin-right: 0;
		margin-bottom: 0;
		margin-left: 0;
		.cart_actions_right { margin-right: 0; }
	}
}