@import "compass", "_vars", "_media", "_clearfix";

.cart_admin_nav { margin-bottom: 1em; }

.cart_form {
	margin-bottom: 1em;
	.field {
		margin-bottom: 0.5em;
		label:first-of-type { display: block; padding-left: 0.15em; }
	}
	input[type=radio] { margin-right: 0.5em; }
	.buttons input { margin-right: 0.6em; }
}