@import  "_vars", "_media", "_clearfix";

@import "_glyphicons_filetypes";

.cart_admin {
	> .grid { padding-right: 0; padding-left: 0; }
	.grid:first-of-type { padding: 0; }
	h1, h2 {
		&:first-of-type { margin-top: 0; }
	}

	@import "private/_form", "private/_list", "private/_order_view";
}

.cart_rate_list {
	margin: 1.3em 0 0 0; padding: 0; list-style: none;
	li { margin-bottom: 1.3em; }
	.actions a { margin-right: 1.3em; }
}