.cart_checkout_box {
	@extend %clearfix;
	border-bottom: 1px solid #c1c1c1;
	padding: 0 0 1em 0;
	margin-bottom: 1em;

	h2 { margin: 0; }
	h3 { margin: 1.3em 0 0.3em 0; }

	.cart_checkout_box_actions {
		@extend %clearfix;
		margin: 1em $side_pad;
		.cart_checkout_box_actions_left {
			float: left;
			a { margin-right: 1em; }
		}
		.cart_checkout_box_actions_right {
			float: right;
			.xm_spinner { float: right; }
		}
		button { font-size: 1.2em; }
	}

	.cart_billing_container {
		@extend %clearfix;
		@include respond_to_min(wide_handhelds) {
			.cart_billing_address, .cart_credit_card { float: left; width: 50%; }
		}
	}

	.cart_checkout_box_edit { float: right; }

	.cart_checkout_box_billing {
		.cart_checkout_box_billing_left { float: left; width: 50%; }
		.cart_checkout_box_billing_right { float: right; width: 50%; }
	}
	.copy_shipping { margin: 0.8em 0 0.3em; }

	.order_textarea { width: 100%; }

	.test_select_container { margin: 0.5em 0; }
}