.list {
	@extend %no_list;
	$color_grey: #6a6a6a;

	li {
		@extend %clearfix;
		padding: 0.5em;
		color: $color_grey;
		border-bottom: 1px solid #dfdfdf;

		&.headers { font-weight: bold; color: lighten($color_grey, 10%); }

		.actions {
			float: right;
			a { margin-left: 1em; }
		}

		a { color: lighten(#489dcf, 30%); text-decoration: none; }
		&:hover:not(.headers) {
			background: #eee;
			color: darken($color_grey, 35%);
			&.headers { background: auto; }
			a {
				color: #489dcf; text-decoration: underline;
				&:hover, &:focus { color: #146493; }
			}
		}
	}

	&.list_orders {
		li {
			> div:not(.actions) { float: left; min-height: 1em; margin-right: 0.5em; }
			.order_num { width: 10%; }
			.status { width: 17%; }
			.name { width: 55%; }
			.total { width: 10%; text-align: right; }
		}
		li:not(.headers) .order_num { color: darken($color_grey, 35%); }
	}
}